@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

* {
	box-sizing: border-box;
}

body {
    background-color: antiquewhite;
	font-family: "Lato", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;    
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
}